# Dependencies

node_modules/
.pnpm-store/

# Build

dist/
build/
coverage/

# Environment variables

.env
.env.*
!.env.example

# Logs

logs/
*.log
npm-debug.log*
pnpm-debug.log*

# OS

.DS_Store
Thumbs.db

# IDE

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.iml

# Testing

.nyc_output/

# Temporary files

*.tmp
*.temp

# NestJS

.swc/

# TypeScript

*.tsbuildinfo
