# Core
Django>=5.0,<6.0
django-environ>=0.11.0

# Base de datos (Ejemplo para PostgreSQL)
psycopg[binary]>=3.1.0

# Seguridad y API (Si aplica)
django-cors-headers>=4.3.0
djangorestframework>=3.15.0

# Servidor de producción
gunicorn>=21.2.0

# Librerías de análisis y procesamiento de datos
numpy>=1.26.0
scipy>=1.11.0